*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.outer-box section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    height: 100vh;
    font-size: 3vh;
    text-align: center;
}
#top-section{
    background: lightpink;
}
#mid-section{
    background: lightseagreen;
}
#bottom-section{
    background: aquamarine;
}
section p{
    width: 85%;
    margin: 30px;
}
a{
    margin: 50px 0;
    color: black;
    font-size: 50px;
}
