body{
    background-image: url("https://images.unsplash.com/photo-1502691876148-a84978e59af8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
h1, p, span{
    background-color: rgba(247, 240, 237, 0.9);
    width: 60%;
    padding: 20px;
}
p, span{
    font-size: 20px;
}
h1{
    margin: 60px 100px;
}
p{
    margin: 0 100px;
}
span{
    display: block;
    margin: 60px 100px;
}